<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">        
        <title>Search Results:</title>
        <style>
            /* Estilos para o rodapé */
            footer {
                background-color: #00BFFF;
                color: #fff;
                padding: 20px;
                text-align: center;
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        </style>          
    </head>
    <body>
        <h1>
            Search Results for {{busca}}
        </h1>

        {% comment %} Hello {{name}}! {% endcomment %}
        <footer>
            <p>&copy; 2024 Todos os direitos reservados.</p>
        </footer>
    </body>
</html> 